nav.header
  a(href='/') Node-chat
  ol.toolbar
    if user
      li: Hi #{user.username}
      li: a(href='/profile') Profile
      li: a(href='/logout') Logout
    else
      li: a(href='/login') Login
      li: a(href='/signup') Sign up
