{{#if flashes}}
{{!-- <pre>{{toJSON flashes}}</pre> --}}
  <div class="flash-messages">
    {{#each flashes as |messages category|}}
      {{#each messages}}
        <div class="flash--{{category}} flash-message">{{this}}</div>
      {{/each}}
    {{/each}}
  </div>
{{/if}}
