<nav>
  <a href="/">Node-chat</a>
  {{#if user}}
    Hi {{user.local.username}}
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
  {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
  {{/if}}
</nav>
