extends ../layout

include ../mixins/_button

block content
  td.content
    table(border="0" cellpadding="0" cellspacing="0" width="100%")
      tr
        td Hi #{name}
      tr
        td.emailBody
          table(border="0" cellpadding="0" cellspacing="0" width="100%")
            tr
              td.p The password for this account has recently been updated.
      tr
        td Regards
      tr
        td - timiscoding

