extends ../layout

block content
  td.content
    table
      tr
        td Hi #{name}
      tr
        td.emailBody
          table
            tr
              td.p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi nesciunt voluptates error explicabo delectus amet hic porro, mollitia dolorem laudantium consectetur ratione cupiditate cumque in odit iusto. Quod, laudantium at!
            tr
              td.p(align="center")
                table.button(cellpadding="0" cellspacing="0")
                  tr
                    td(align="center" valign="middle")
                      a(href="http://comehere.com" target="_blank") Click here!
      tr
        td Regards
      tr
        td - timiscoding

