extends layout.pug

block content
  - body = body || {}

  .centered
    form.centered-form__form(method='post')
      .form-field
        h3 Forgot password
      .form-field
        label(for='email') Email
        input#email(type='text' name='email' value=body.email)
      .form-field
        button(input='submit') Reset password
