extends layout.pug

block headScripts
  script(src='https://www.google.com/recaptcha/api.js')

block content
  - body = body || {}

  .centered
    form.centered-form__form(method='post')
      .form-field
        h3 Forgot password
      .form-field
        label(for='email') Email
        input#email(type='text' name='email' value=body.email)
      .g-recaptcha(data-sitekey=recaptchaKey)
      .form-field
        button(input='submit') Reset password
