extends layout.pug

block append bodyScripts
  script(src='/socket.io/socket.io.js')
  script(src='/js/vendors~chat~join.bundle.js')
  script(src='/js/join.bundle.js')

block content
  .centered
    form.centered-form__form(action='/chat' method='post')
      .form-field
        h3 Join a chat
      .form-field
        label(for='name') Display name
        input#name(name='name' type='text' autofocus)
      .form-field
        label Room name #[span#active-rooms 0] active
        input#room-text(name='room' type='text' placeholder='Create or join a room')
        select#room-select(name='room' size='3')
      .form-field
        button(type='submit') Join
