extends layout.pug

block content
  .centered
    form.centered-form__form(method='post')
      .form-field
        h3 Login
      .form-field
        label(for='email') Email
        input#email(type='text' name='email')
      .form-field
        label(for='password') Password
        input#password(type='password' name='password')
      .form-field
        button(input='submit') Log in
        .login__local-actions
          a(href='/forgot') Forgot password
          a(href='/signup') Create an account

      .hr-sect OR

      a(href='/auth/facebook' class='login__link' id='login__link--facebook')
        img(src='/images/logo-facebook.svg')
        .login__link-text Login with Facebook
      a(href='/auth/twitter' class='login__link' id='login__link--twitter')
        img(src='/images/logo-twitter.svg')
        .login__link-text Login with Twitter
      a(href='/auth/google' class='login__link' id='login__link--google')
        img(src='images/logo-google.svg')
        .login__link-text Login with Google
