extends layout.pug

block content
  .centered
    form.centered-form__form(method='post')
      .form-field
        h3 Login
      .form-field
        label(for='email') Email
        input#email(type='text' name='email')
      .form-field
        label(for='password') Password
        input#password(type='password' name='password')
      .form-field
        button(input='submit') Log in

      p: a(href='/forgot') Forgot password
      p: a(href='/signup') Create an account
      hr
      p: a(href='/auth/facebook') Login via Facebook
      p: a(href='/auth/twitter') Login via Twitter
      p: a(href='/auth/google') Login via Google
