<div class="centered-form">
  <form class="centered-form__form" method="post">
    <div class="form-field">
      <h3>Login</h3>
    </div>
    <div class="form-field">
      <label for="email">Email</label>
      <input type="text" name="email" id="email">
    </div>
    <div class="form-field">
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
    </div>
    <div class="form-field">
      <button input="submit">Log in</button>
    </div>

    <hr />
    <a href="/login/facebook">Login via Facebook</a>
    <hr />
    <a href="/login/twitter">Login via Twitter</a>
    <hr />
    <a href="/login/google">Login via Google</a>
    <hr />
    <a href="/signup">Create an account</a>
  </form>
</div>
