<div class="centered">
  <div class="centered-content">
    <h3>Accounts</h3>

    <table>
      <thead>
        <th>Type</th>
        <th>Account</th>
        <th>Action</th>
      </thead>
      <tbody>
        {{linkedAccounts user}}
      </tbody>
    </table>

    <h3>Link additional accounts</h3>
    {{linkableAccounts user}}
  </div>
</div>
