<div class="centered">
  <div class="centered-content">
    <h3>Profile</h3>
    <form method="post">
      <div class="form-field">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="This will identify you in chat rooms" value="{{body.username}}">
      </div>
      <div class="form-field">
        <button input="submit">Update account</button>
      </div>
    </form>

    <h3>Accounts</h3>

    <table>
      <thead>
        <th>Type</th>
        <th colspan="2">Account</th>
      </thead>
      <tbody>
        {{linkedAccounts user}}
      </tbody>
    </table>

    <h3>Link additional accounts</h3>
    {{linkableAccounts user}}
  </div>
</div>
