<div class="centered">
  <form class="centered-form__form" method="post">
    <div class="form-field">
      <h3>Email confirmation</h3>
      <p>If you did not receive an email or the link provided has expired, you can request a new one here.</p>
    </div>
    <div class="form-field">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" value="{{body.email}}">
    </div>
    <div class="form-field">
      <button input="submit">Resend email confirmation</button>
    </div>
  </form>
</div>
