<div class="centered">
  <form class="centered-form__form" method="post">
    <div class="form-field">
      {{#if confirmEmail}}
      <h3>Confirm email</h3>
      <p>Request an email to confirm your account</p>
      {{/if}}

      {{#if passwordReset}}
      <h3>Forgot password</h3>
      {{/if}}
    </div>
    <div class="form-field">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" value="{{body.email}}">
    </div>
    <div class="form-field">
      <button input="submit">
        {{#if confirmEmail}}
        Confirm email
        {{/if}}

        {{#if passwordReset}}
        Reset password
        {{/if}}
      </button>
    </div>
  </form>
</div>
