extends layout.pug

block content
  .centered
    form.centered-form__form(method='post')
      .form-field
        h3 Reset Password
      .form-field
        label(for='password') Password
        input#password(type='password' name='password')
      .form-field
        label(for='password-confirm' name='password-confirm')
        input#password-confirm(type='password' name='password-confirm')
      .form-field
        button(input='submit') Update password
