<div class="centered">
  <form class="centered-form__form" method="post">
    <div class="form-field">
      <h3>Reset Password</h3>
    </div>
    <div class="form-field">
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
    </div>
    <div class="form-field">
      <label for="password-confirm">Confirm password</label>
      <input type="password" name="password-confirm" id="password-confirm">
    </div>
    <div class="form-field">
      <button input="submit">Update password</button>
    </div>
  </form>
</div>
