doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='style.css')
  body
    table#tableBody(border="0" cellpadding="0" cellspacing="0" width="100%" height="100%")
      tr
        td(align="center")
          table.emailContainer(border="0" cellpadding="0" cellspacing="0" width="600")
            tr
              td.header(align="center" height="100" width="600")
                a.logo(href='https://lvh.me' target="_blank") 📬 Node Chat App
            tr
              block content
            tr
              td.footer
                table(border="0" cellpadding="0" cellspacing="0" width="100%")
                  tr
                    td 🤣 Smecking Veck Corp
                    td(align="right")
                      table(border="0" cellpadding="0" cellspacing="0")
                        tr
                          td: a.footerLink(href='http://www.twitter.com/timiscoding' target="_blank") Twitter
                          td(width="20") &nbsp;
                          td: a.footerLink(href='http://www.github.com/timiscoding' target="_blank") Github
