|Hi #{name}
|
|A Node Chat App account was created using this email. To complete sign up, please open the link at
|
|#{confirmURL}
|
|If you did not create an account, simply ignore this email.
|
|Regards,
|- timiscoding
