|Hi #{name}
|
|A password reset was requested using this email. To reset your password, please open the link at
|
|#{resetURL}
|
|If you did not request this reset, simply ignore this email.
|
|Regards,
|- timiscoding
